
*
{
    margin: 0%;
    padding: 0%;
  
}
.button-sem
{
  background-color: blue;
  display: flex;
  float: left;
  padding: 20px;
  outline: none;
  margin: 20px;
  
  

}
.WHOLEDIV
{
  text-align: center;
  align-items: center;
  justify-content: center;
}


#myDIV1 {
  float: left;
  text-align: center;
  background-color: lightblue;
  margin-top: 30px;
  display:none;
  
}
  
#myDIV2 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
#myDIV3 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
#myDIV4 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  align-items: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
#myDIV5 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
#myDIV6 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
#myDIV7 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
#myDIV8 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}